<template>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    FAQ.app by <strong>Jyri Mikkola</strong>. (c) 2017
                </p>
            </div>
        </div>
    </footer>
</template>

<style>

</style>

<script>
    export default
    {
        data()
        {
            return {

            }
        }
    }
</script>