<template>
    <div id="app_header">
        <nav class="nav has-shadow">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                        <img @click="home()" src="FAQ.png" alt="Bulma logo">
                    </a>
                </div>
                <div class="nav-center">
                    <search-bar class="nav-item"></search-bar>
                </div>
                <div class="nav-right nav-menu">
                    <a class="nav-item is-tab">Profile</a>
                    <a class="nav-item is-tab">Log out</a>
                </div>
            </div>
        </nav>
        <section class="hero is-dark is-bold is-medium">
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        Faq.app
                    </h1>
                    <h2 class="subtitle">
                        so that you can faq it up
                    </h2>
                </div>
            </div>
            <!-- Hero footer: will stick at the bottom -->
            <div class="hero-foot">
                <nav class="tabs">
                    <div class="container">
                        <ul>
                            <li><router-link to="home" class="nav-item is-tab" exact>Home</router-link></li>
                            <li><router-link to="tags" class="nav-item is-tab" exact>Tags</router-link></li>
                            <li><router-link to="articles.newest" class="nav-item is-tab" exact>Newest</router-link></li>
                            <li><router-link to="articles.updated" class="nav-item is-tab" exact>Last updated</router-link></li>
                            <li><router-link to="articles.my" class="nav-item is-tab" exact>My articles</router-link></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </div>
</template>

<style scoped>

</style>

<script>
    import SearchBar from './SearchBar.vue';

    export default
    {
        name: 'app-nav',

        data()
        {
            return { message: 'Hello world!'};
        },
        components:
        {
            SearchBar
        },
        methods:
        {
            home()
            {
                this.$router.push({ path: 'home'});
            }
        }
    }
</script>