<template>
    <div class="field has-addons">
        <p class="control">
            <input @keyup.enter="search" v-model="query" class="input" type="text" placeholder="Look for a solution">
        </p>
        <p class="control">
            <a @click="search" class="button is-dark">
                <span>Search</span>
                <span class="icon is-small">
                    <i class="fa fa-search"></i>
                </span>
            </a>
        </p>
    </div>
</template>

<script>
    export default
    {
        name: 'search-bar',

        data()
        {
            return {
                query: ''
            };
        },

        methods:
        {
            search()
            {
                // Move the user to the search page with the query. Search page will handle the ajax.
                this.$router.push({ path: 'search', query: { query: this.query }})
            }
        }
    }
</script>

<style scoped>

</style>