<template>
    <div>
        <div v-if="loading" class="loader"></div>
        <template v-else>
            <article-title :data="article.title" :editable="editable" :articleId="article.id"></article-title>
            <article-platform :data="article.platform" :articleId="article.id" :editable="editable"></article-platform>
            <article-description :data="article.description" :editable="editable" :articleId="article.id"></article-description>

            <!-- Article steps -->
            <template v-for="step in article.steps">
                <article-step @deleted="stepDeleted($event)" :model="step" :editable="editable"></article-step>
            </template>
            <a v-if="editable" @click="initStepCreation()" class="button is-dark">Add Step</a>

            <!-- Article tags -->
            <article-tags :articleId="article.id" :editable="editable"></article-tags>

            <!-- Publish article -->
            <template v-if="editable">
                <a v-if="!article.saved" @click="publish(true)" :class="['button','is-dark',{'is-loading':saving}]" :disabled="saving">Publish Article</a>
                <a v-if="article.saved" @click="publish(false)" :class="['button','is-dark',{'is-loading':saving}]" :disabled="saving">Hide Article</a>
            </template>
        </template>

        <!-- Create article step modal -->
        <modal :control="modal">
            <template slot="modal-head">Create a step</template>
            <template slot="modal-body">
                <j-form :control="form"></j-form>
            </template>
            <template slot="modal-foot">
                <a @click="createStep()" :class="['button', 'is-dark',{'is-loading':form.submitting}]" >Save changes</a>
                    <a @click="modal.close()" class="button" :disabled="form.submitting">Cancel</a>
            </template>
        </modal>

    </div>
</template>

<style scoped>

</style>

<script>
    import ArticleTitle from '../components/article/ArticleTitle.vue';
    import ArticleDescription from '../components/article/ArticleDescription.vue';
    import ArticleStep from '../components/article/ArticleStep.vue';
    import ArticleTags from '../components/article/ArticleTags.vue';
    import ArticlePlatform from '../components/article/ArticlePlatform.vue';
    import Tag from '../components/tag/Tag.vue';

    import Modal from '../components/generic/Modal.vue';
    import JForm from '../components/generic/JForm.vue';
    import JmpForm from '../elements/JmpForm';
    import JmpModal from '../elements/JmpModal';

    export default
    {
        components:
        {
            ArticleTitle,
            ArticleDescription,
            ArticleStep,
            ArticleTags,
            ArticlePlatform,
            Tag,
            JForm,
            Modal
        },

        data()
        {
            return {
                loading: true,
                article: null,
                saving: false,
                tags: [],
                modal: new JmpModal,
                form: new JmpForm()
            };
        },

        computed:
        {
            editable()
            {
                let edit = this.$route.query.edit;
                if(edit !== undefined)
                {
                    if(edit == 1 || edit == "true")
                    {
                        return true;
                    }
                }
                return false;
            },
            stepNumbers()
            {
                let numbers = [];
                for(let n = 0; n <= this.article.steps.length -1; n++)
                {
                    numbers.push(n+1);
                }
                return numbers;
            }
        },

        watch:
        {
            '$route.query.id'(newId)
            {
                this.loadArticle(newId);
            }
        },

        methods:
        {
            loadArticle(id)
            {
                this.loading = true;

                axios.get('articles/article/'+id)
                .then(response => {
                    this.article = response.data;
                    this.form.addField('file','picture');
                    this.form.addField('textarea','content');
                    this.loading = false;
                })
                .catch(error => {
                    this.loading = false;
                });
            },
            initStepCreation(before)
            {
                this.modal.open();

            },
            createStep()
            {
                this.form.post('article-steps/new',{
                    article_id: this.article.id,
                    number: this.article.steps.length+1
                })
                .then(response => {
                    this.article.steps.push(response.data);
                    this.modal.close()
                })
                .catch(error => {

                });
            },
            stepDeleted(deletedStep)
            {
                for(let n = 0; n <= this.article.steps.length-1; n++)
                {
                    let step = this.article.steps[n];
                    if(step.id === deletedStep.id)
                    {
                        console.log('removing step');
                        console.log(deletedStep);
                        // Remove deleted element.
                        this.articles.steps = this.articles.steps.splice(n,1);
                        continue;
                    }
                    // Update step numbers.
                    if(step.number > deletedStep.number)
                    {
                        step.number -= 1;
                        this.article.steps[n] = step;
                    }
                }
            },
            publish(status)
            {
                let saved = status ? 1 : 0;

                this.saving = true;
                axios.patch('articles/update',{
                    id: this.article.id,
                    saved: saved
                })
                .then(response => {
                    this.article.saved = status;
                    this.saving = false;
                })
                .catch(error => {
                    this.saving = false;
                });
            }
        },

        mounted()
        {
            // Triggers when this component is loaded by the application.
            this.loadArticle(this.$route.query.id);
        }
    }
</script>