<template>
    <div>
        <h1>Welcome to FAQ.app</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
        <h2>Statistics</h2>
        <p>
            There {{isAre('complete')}} currently <strong>{{statistics.complete}}</strong> complete {{articleS('complete')}} in the faq.
        </p>
        <p>
            Our users {{isAre('editing')}} currently working on <strong>{{statistics.editing}}</strong> new {{articleS('editing')}}.
        </p>
    </div>
</template>

<style>

</style>

<script>
    export default
    {
        data()
        {
            return {
                statistics:{}
            };
        },

        methods:
        {
            isAre(value)
            {
                value = this.statistics[value];
                if(value > 1 || value === 0 || value === undefined)
                {
                    return 'are';
                }
                return 'is';
            },
            articleS(value)
            {
                value = this.statistics[value];
                if(value > 1 || value === 0 || value === undefined)
                {
                    return 'articles';
                }
                return 'article';
            }
        },

        mounted()
        {
            axios.get('articles/statistics')
            .then(response => {
                this.statistics = response.data;
            });
        }
    }
</script>