<template>
    <div>
        <div v-if="loading" class="loader"></div>

        <table class="table" v-else>
            <thead>
                <tr>
                    <th><abbr title="Article title">Title</abbr></th>
                    <th><abbr title="Article description">Description</abbr></th>
                    <th><abbr title="Is article public">Published</abbr></th>
                    <th><abbr title="Edit article">Edit</abbr></th>
                    <th><abbr title="Delete article">Delete</abbr></th>
                </tr>
            </thead>
            <tbody>
                <!-- Prepend new article row -->
                <tr @click="newArticle()">
                    <td>New</td>
                    <td>Write a new article.</td>
                    <td>
                        <span class="icon">
                            <i class="fa fa-times"></i>
                        </span>
                    </td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <template v-for="article in articles">
                    <tr :class="[{'saved' : article.saved}]">
                        <td>
                            <a @click="linkToArticle(article.id,false)">{{article.title}}</a>
                        </td>
                        <td>{{article.description}}</td>
                        <td>
                            <span class="icon">
                                <i :class="['fa',{'fa-check':article.saved},{'fa-times':!article.saved}]"></i>
                            </span>
                        </td>
                        <td>
                            <a @click="linkToArticle(article.id,true)" class="button is-dark">Edit</a>
                        </td>
                        <td>
                            <a @click="deleteArticle(article.id)" :class="['button', 'is-danger',{'is-loading':deleting}]">Delete</a>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<style scoped>
    .saved
    {
        color: green;
    }
</style>

<script>
    //import ArticleHead from '../components/article/ArticleHead.vue';

    export default
    {
        components:
        {
            //ArticleHead
        },

        data()
        {
            return {
                loading: true,
                deleting: false,
                articles: []
            };
        },

        methods:
        {
            newArticle()
            {
                this.loading = true;

                // Use api to create a new article template.
                axios.post('articles/new')
                .then(response => {
                    this.loading = false;
                    // Move user to article page.
                    this.linkToArticle(response.data.id,true);
                })
                .catch(error => {
                    this.loading = false;
                });
            },
            linkToArticle(id,edit)
            {
                edit = edit ? 'true':'false';
                this.$router.push({ path: 'articles', query: { id: id, edit: edit}});
            },
            deleteArticle(id)
            {
                this.deleting = true;
                alert('This feature is currently disabled.');
            }
        },

        mounted()
        {
            // Placeholder loader.
            axios.get('articles/my')
            .then(response => {
                this.articles = response.data;
                this.loading = false;
            })
            .catch(error => {
                this.loading = false;
            });
        }
    }
</script>