<template>
<div>
    <div v-if="loading "class="loader"></div>
    <div v-else>
        <div v-for="article in articles">
            <article-head :id="article.id" :title="article.title" :description="article.description" :platform="article.platform" :updated_at="article.updated_at"></article-head>
        </div>
    </div>
</div>
</template>

<style scoped>

</style>

<script>
    import ArticleHead from '../components/article/ArticleHead.vue';

    export default
    {
        components: 
        {
            ArticleHead
        },

        data()
        {
            return {
                articles: [],
                loading: true
            };
        },

        mounted()
        {
            // Triggers when this component is loaded by the application.
            axios.get('articles/newest/3').then(response => {
                this.articles = response.data;
                this.loading = false;
            });
        }
    }
</script>