<template>
    <div>
        <div v-if="loading "class="loader"></div>
        <div v-else>
            <search-info :time="searchTimeElapsed" :query="query" :hits="hits" :errors="errors"></search-info>
            <div v-for="article in articles">
                <article-head :id="article.id" :title="article.title" :description="article.description" :platform="article.platform" :updated_at="article.updated_at"></article-head>
            </div>
        </div>
    </div>
</template>

<style>

</style>

<script>
    import ArticleHead from '../components/article/ArticleHead.vue';
    import SearchInfo from '../components/search/SearchInfo.vue';
    import JmpErrors from '../elements/JmpErrors';

    export default
    {
        data()
        {
            return {
                articles: [],
                errors: new JmpErrors(),
                query: this.$route.query.query,
                loading: false,
                searchStartTime: null
            };
        },

        watch:
        {
            '$route.query.query'(newQuery)
            {
                // Search again if query changes.
                this.query = newQuery;
                this.search();
            }
        },

        methods:
        {
            search()
            {
                this.loading = true;
                this.errors.clearAll();
                this.searchStartTime = moment();

                axios.post('articles/search',
                {
                    query: this.query
                })
                .then(response => {
                    this.articles = response.data;
                    this.loading = false;
                })
                .catch(error => {
                    this.errors.setErrors(error.response.data);
                    this.articles = [];
                    this.loading = false;
                });
            }
        },

        computed:
        {
            hits()
            {
                return this.articles.length;
            },

            searchTimeElapsed()
            {
                // Get the time passed since start.
                if(this.searchStartTime === null)
                {
                    return '0 seconds';
                }
                return moment().diff(this.searchStartTime,'seconds')+' seconds';
            }
        },

        mounted()
        {
            // Get the initial search result.
            this.search();
        },

        components:
        {
            ArticleHead,
            SearchInfo
        }
    }
</script>