<template>
    <div>
        <modal :control="modal">
            <template slot="modal-head">Create a new tag</template>
            <template slot="modal-body">
                <j-form :control="form"></j-form>
            </template>
            <template slot="modal-foot">
                <a @click="createTag" :class="['button', 'is-dark',{'is-loading':form.submitting}]" >Save changes</a>
                    <a @click="modal.close()" class="button" :disabled="form.submitting">Cancel</a>
            </template>
        </modal>


        <div v-if="loading">
            <div class="loader"></div>
        </div>
        
        <table class="table" v-else>
            <thead>
                <tr>
                    <th><abbr title="Tag name">Tag</abbr></th>
                    <th><abbr title="Description">Desc</abbr></th>
                    <th><abbr title="Edit Tag">Edit</abbr></th>
                    <th><abbr title="Delete Tag">Del</abbr></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr title="Tag name">Tag</abbr></th>
                    <th><abbr title="Description">Desc</abbr></th>
                    <th><abbr title="Edit Tag">Edit</abbr></th>
                    <th><abbr title="Delete Tag">Del</abbr></th>
                </tr>
            </tfoot>
            <tbody>
                <!-- Prepend new tag row -->
                <tr @click="modal.open()">
                    <td><tag title="New"></tag></td>
                    <td>Create a new tag</td>
                    <td>-</td>
                    <td>-</td>                    
                </tr>
                <template v-for="tag in tags">
                    <tag-control @deleted="tagRemoved($event)" @updated="tagUpdated($event)" :name="tag.name" :description="tag.description"></tag-control>
                </template>
            </tbody>
        </table> 
    </div>
</template>

<style>
    
</style>

<script>
    import Tag from '../components/tag/Tag.vue';
    import TagControl from '../components/tag/TagControl.vue';
    import Modal from '../components/generic/Modal.vue';
    import JForm from '../components/generic/JForm.vue';
    import JmpForm from '../elements/JmpForm';
    import JmpModal from '../elements/JmpModal';

    export default
    {
        data()
        {
            return {
                tags: [],
                loading: true,
                form: new JmpForm().addField('text','name').addField('textarea','description'),
                modal: new JmpModal()
            };
        },

        mounted()
        {
            axios.get('tags/all')
            .then(response => {
                this.tags = response.data;
                this.loading = false;
            });
        },

        methods:
        {
            createTag()
            {
                this.modal.closable = false;
                this.form.errors.clearAll();
                this.form.post('tags/new')
                .then(response => {
                    // Add created tag to view.
                    this.tags.push(response.data);
                    this.modal.closable = true;
                    this.modal.close();
                    this.form.reset();
                })
                .catch(error => {
                    this.modal.closable = true;
                });
            },
            tagRemoved(name)
            {
                for(let n = 0; n <= this.tags.length -1; n++)
                {
                    if(this.tags[n].name === name)
                    {
                        // Remove tag from this objects tag list.
                        this.tags.splice(n,1);
                        break;
                    }
                }
            },
            tagUpdated(tag)
            {
                for(let n = 0; n <= this.tags.length -1; n++)
                {
                    if(this.tags[n].name === tag.name)
                    {
                        // Update tag in list.
                        this.tags[n] = tag;
                        break;
                    }
                }
            }
        },

        components: 
        {
            Tag,
            TagControl,
            Modal,
            JForm
        }
    }
</script>