<template>
    <div class="field">
        <label class="label">{{control.label}}</label>
        <p :class="controlClass">
            <input v-if="control.type=='text'" v-model="control.value" :class="inputClass" type="text" :placeholder="control.placeholder" :disabled="control.disabled">

            <textarea v-if="control.type=='textarea'" v-model="control.value" :class="inputClass" :placeholder="control.placeholder" :disabled="control.disabled"></textarea>

            <span v-if="control.type=='select'" class="select">
                <select v-model="control.value">
                    <template v-for="option in control.selectOptions">
                        <option :value="option">{{option}}</option>
                    </template>
                </select>
            </span>

            <span v-if="control.type=='file'">
                <div v-if="!control.value">
                    <input type="file" @change="onFileChange">
                </div>
                <div v-else>
                    <img :src="control.value" />
                    <button @click="removeImage">Remove image</button>
                </div>
            </span>

            <p v-for="error in control.errors" class="help is-danger">{{error}}</p>
        </p>
    </div>
</template>

<style scoped>

</style>

<script>
    import JmpField from '../../elements/JmpField';

    export default
    {
        name: 'field',

        props:
        {
            control:
            {
                required: true,
                type: JmpField
            }
        },

        data()
        {
            return {

            };
        },

        computed:
        {
            controlClass()
            {
                return {
                    control: true,
                    'is-loading': this.control.loading
                }
            },
            inputClass()
            {
                return {
                    input: this.control.type != 'textarea',
                    textarea: this.control.type == 'textarea',
                    'is-success': !this.control.hasErrors() && this.control.validated,
                    'is-danger': this.control.hasErrors() && this.control.validated
                }
            }
        },

        methods:
        {
            onFileChange(e)
            {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file)
            {
                let image = new Image();
                let reader = new FileReader();

                reader.onload = (e) => {
                    this.control.value = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeImage()
            {
                this.control.value = '';
            }
        }
    }
</script>