<template>
    <div>
        <field v-for="field in control.fields" :control="field" :key="field.name"></field>
    </div>
</template>

<style scoped>

</style>

<script>
    import Field from './Field';
    import JmpForm from '../../elements/JmpForm';

    export default
    {
        name: 'j-form',

        components: 
        {
            Field
        },

        props:
        {
            control:
            {
                required: true,
                type: JmpForm
            }
        },

        data()
        {
            return {

            };
        }
    }
</script>