<template>
<div :class="control.class()">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"><slot name="modal-head"></slot></p>
                <button @click="control.close()" class="delete" :disabled="!control.closable"></button>
            </header>
            <section class="modal-card-body">
                <slot name="modal-body"></slot>
            </section>
            <footer class="modal-card-foot">
                <slot name="modal-foot"></slot>
            </footer>
        </div>
    </div>
</template>

<style scoped>

</style>

<script>
    import JmpModal from '../../elements/JmpModal';
    
    export default
    {
        name: 'modal',

        props:
        {
            control:
            {
                required: false,
                type: JmpModal,
                default: new JmpModal()
            }
        },

        data()
        {
            return {

            };
        }
    }
</script>