<template>
    <span v-if="description.length > 0" class="tag is-black" data-toggle="tooltip" data-placement="right" :title="description">{{title}}</span>
    <span v-else class="tag is-black">{{title}}</span>
</template>

<style scoped>

</style>

<script>
    export default
    {
        name: 'tag',

        data()
        {
            return {

            };
        },

        props:
        {
            title:
            {
                required: true,
                type: String
            },
            description:
            {
                required: false,
                type: String,
                default: ''
            }
        }
    }
</script>