<template>
    <tr>
        <td>
            <tag :title="name"></tag>
        </td>
        <td>
            <template v-if="editing">
                <input type="text" placeholder="description" v-model="newDescription">
            </template>
            <template v-else>
                {{savedDescription}} <span v-if="error" class="icon" data-toggle="tooltip" data-placement="right" title="An error occurred while trying to modify tag."><i class="fa fa-exclamation-triangle"></i></span>
            </template>
        </td>
        <td>
            <a v-if="!editing" @click="editing=true" :class="['button', 'is-dark',{'is-loading':updating}]" :disabled="deleting">Edit</a>
            <a v-else @click="updated()" class="button is-dark" :disabled="deleting">Save</a>
        </td>
        <td>
            <a @click="deleted()" :class="['button', 'is-danger',{'is-loading':deleting}]" :disabled="editing">Delete</a>
        </td>
    </tr>

</template>

<style>
    
</style>

<script>
    import Tag from './Tag.vue';

    export default
    {
        name: 'tag-control',

        data()
        {
            return {
                deleting: false,
                editing: false,
                updating: false,
                error: false,
                savedDescription: this.description,
                newDescription: this.description
            };
        },

        props:
        {
            name: 
            {
                required: true,
                type: String
            },
            description:
            {
                required: true,
                type: String
            }
        },

        methods:
        {
            updated()
            {
                this.editing = false;
                this.updating = true;
                let tag = 
                {
                    name: this.name,
                    description: this.newDescription
                };

                axios.patch('tags/update',tag)
                .then(response => {
                    this.$emit('updated',tag);
                    this.savedDescription = this.newDescription;
                    this.updating = false;
                })
                .catch(error => {
                    this.error = true;
                    this.updating = false;
                });
            },
            deleted()
            {
                this.deleting = true;
                axios.delete('tags/delete',{
                    params:
                    {
                        name: this.name
                    } 
                })
                .then(response => {
                    this.$emit('deleted',this.name);
                    this.deleting = false;
                })
                .catch(error => {
                    this.deleting = false;
                });
            }
        },

        components:
        {
            Tag
        }
    }
</script>