<template>
    <article :class="headerClass">

        <div v-if="errors.exist()">
            <div class="message-header">
                <p>
                    <strong>Invalid search</strong>!
                </p>
            </div>
            <div class="message-body">
                <p v-for="errorMessage in errors.messages()">
                    {{errorMessage}}
                </p>
            </div>
        </div>

        <div v-else>
            <div class="message-header">
                <p>
                    <strong>Search information</strong>
                </p>
            </div>
            <div class="message-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th><abbr title="Search query">Query</abbr></th>
                            <th><abbr title="Search time">Time</abbr></th>
                            <th><abbr title="Number of results">Hits</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{query}}</td>
                            <td>{{time}}</td>
                            <td>{{hits}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</template>

<style scoped>

</style>

<script>
    import JmpErrors from '../../elements/JmpErrors';

    export default
    {
        name: 'search-info',

        props:
        {
            time: 
            {
                required: true,
                type: String
            },
            query: 
            {
                required: true,
                type: String
            },
            hits: 
            {
                required: true,
                type: Number
            },
            errors:
            {
                required: false,
                type: JmpErrors,
                default: new JmpErrors()
            }
        },

        data()
        {
            return {
                headerClass: 
                {
                    'message' : true,
                    'is-success' : this.hits > 0 && !this.errors.exist(),
                    'is-warning' : this.hits == 0 && !this.errors.exist(),
                    'is-danger' : this.errors.exist()
                }
            };
        }
    }
</script>