<template>
    <div>
        <p>
            <template v-if="editing">
                <div class="field">
                    <p :class="['control',{'is-loading':saving}]">
                        <textarea @keyup.enter="save()" v-model="description" class="textarea" placeholder="description" :disabled="saving"></textarea>
                    </p>
                </div>

                <span @click="save()" class="icon">
                    <i class="fa fa-floppy-o"></i>
                </span>
            </template>

            <template v-else>
                {{description}}
                <span v-if="editable" @click="edit()" class="icon">
                    <i class="fa fa-pencil-square-o"></i>
                </span>
            </template>
        </p>
    </div>
</template>

<style scoped>

</style>

<script>
    export default
    {
        name: 'article-description',

        props:
        {
            data:
            {
                required: true,
                type: String
            },
            articleId:
            {
                required: true,
                type: Number
            },
            editable:
            {
                required: false,
                type: Boolean,
                default: false
            }
        },

        data()
        {
            return {
                editing: false,
                saving: false,
                description: this.data
            };
        },

        methods:
        {
            edit()
            {
                this.editing = true;
            },
            save()
            {
                this.saving = true;

                axios.patch('articles/update',{
                    id: this.articleId,
                    description: this.description
                })
                .then(response => {
                    this.saving = false;
                    this.editing = false;
                })
                .catch(error => {
                    this.saving = false;
                    this.editing = false;
                });
            }
        }
    }
</script>