<template>
<div class="article-result">

    <article class="message" v-if="article.loading">
        <div class="message-header">
            <p>loading..</p>
        </div>
        <div class="message-body">
            <div>
                <div class="loader">loading...</div>
            </div>
        </div>
    </article>

    <article class="message" v-else>
        <div class="message-header">
            <a @click="linkToArticle()">{{article.title}}</a>
            {{lastUpdated}}
        </div>
        <div class="message-body">
            {{article.description}}

            <!-- Main container -->
            <nav class="level message-footer">
                <!-- Left side -->
                <div class="level-left">
                    <!-- tags -->
                    <p v-if="article.loadingTags">loading tags..</p>
                    <div v-else class="level-item" v-for="tag in article.tags">
                        <tag :title="tag.name" :description="tag.description"></tag>
                    </div>
                </div>
                <!-- Right side -->
                <div class="level-right">
                    <p class="level-item">
                        <article-platform :data="article.platform"></article-platform>
                    </p>
                </div>
            </nav>
        </div>
    </article>
</div>
</template>


<script>
    import ArticleHead from '../../models/ArticleHead';
    import Tag from '../../components/tag/Tag.vue';
    import ArticlePlatform from './ArticlePlatform.vue';

    export default
    {
        name: 'article-head',

        data()
        {
            return {
                article: new ArticleHead(this)
            };
        },

        props : ArticleHead.properties(),

        computed :
        {
            lastUpdated()
            {
                return moment(this.article.updated_at, "YYYY-MM-DD HH:mm:ss").fromNow();
            }
        },

        mounted()
        {
            this.article.load('post','articles/query');
        },

        methods:
        {
            linkToArticle()
            {
                this.$router.push({ path: 'articles/article', query: { id: this.id }});
            }
        },

        components:
        {
            Tag,
            ArticlePlatform
        }
    }
</script>

<style>
    .article-result
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .message-footer
    {
        margin-top: 20px;
    }
</style>