<template>
    <div>
        <template v-if="editing">
            <div class="field">
                <p :class="['control',{'is-loading':saving}]">
                    <span class="select">
                        <select v-model="platform" :disabled="saving">
                            <template v-for="option in platformOptions">
                                <option :value="option">{{option}}</option>
                            </template>
                        </select>
                    </span>
                </p>
            </div>

            <span @click="save()" class="icon">
                <i class="fa fa-floppy-o"></i>
            </span>
        </template>

        <template v-else>
            {{platform}}
            <span class="icon">
                <i :class="icon"></i>
            </span>
            <span v-if="editable" @click="edit()" class="icon">
                <i class="fa fa-pencil-square-o"></i>
            </span>
        </template>
    </div>
</template>

<style scoped>

</style>

<script>
    export default
    {
        name: 'article-platform',

        props:
        {
            data:
            {
                required: true,
                type: String
            },
            articleId:
            {
                required: false,
                type: Number
            },
            editable:
            {
                required: false,
                type: Boolean,
                default: false
            }
        },

        data()
        {
            return {
                editing: false,
                saving: false,
                platform: this.data,
                platforms:
                {
                    windows:
                    ['xp','vista','7','8','8.1','10'],
                    linux:
                    [''],
                    mac:
                    ['']
                }
            };
        },

        computed:
        {
            platformOptions()
            {
                let options = [];
                for(let os in this.platforms)
                {
                    for(let n = 0; n <= this.platforms[os].length-1;n++)
                    {
                        let version = this.platforms[os][n];
                        let platform = os +' '+ version;
                        options.push(platform);
                    }
                }
                return options;
            },
            icon()
            {
                let win = this.platform.toLowerCase().startsWith('windows');
                let mac = this.platform.toLowerCase().startsWith('mac');
                let lin = this.platform.toLowerCase().startsWith('linux');
                let unknown = !win && !mac && !lin;

                return {
                    fa: true,
                    'fa-windows': win,
                    'fa-apple': mac,
                    'fa-linux': lin,
                    'fa-question': unknown
                }
            }
        },

        methods:
        {
            edit()
            {
                this.editing = true;
            },
            save()
            {
                this.saving = true;
                axios.patch('articles/update',{
                    id: this.articleId,
                    platform: this.platform
                })
                .then(response => {
                    this.saving = false;
                    this.editing = false;
                })
                .catch(error => {
                    this.saving = false;
                    this.editing = false;
                });
            }
        }
    }
</script>