<template>
    <div class="card article-tags">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">Tags</p>
                    <div v-if="loading">loading..</div>
                    <template v-else>
                        <span v-if="editable" @click="edit()" class="icon">
                            <i class="fa fa-pencil-square-o"></i>
                        </span>
                    </template>
                </div>
            </div>
            <div class="content">
                <nav class="level">
                    <div v-if="!loading" v-for="tag in articleTags" class="level-item has-text-centered">
                        <tag :title="tag.name" :description="tag.description"></tag>
                    </div>
                </nav>
            </div>
        </div>

        <modal :control="modal">
            <template slot="modal-head">Attach a tag to article</template>
            <template slot="modal-body">
                <j-form :control="form"></j-form>
            </template>
            <template slot="modal-foot">
                <a @click="attachTag()" :class="['button', 'is-dark',{'is-loading':form.submitting}]" :disabled="!tagSelected">Attach</a>
                    <a @click="modal.close()" class="button" :disabled="form.submitting">Cancel</a>
            </template>
        </modal>
    </div>
</template>




<style scoped>
    .article-tags
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<script>
    import Modal from '../generic/Modal.vue';
    import JForm from '../generic/JForm.vue';
    import Tag from '../tag/Tag.vue';
    import JmpForm from '../../elements/JmpForm';
    import JmpModal from '../../elements/JmpModal';

    export default
    {
        name: 'article-tags',

        components:
        {
            Modal,
            JForm,
            Tag
        },

        props:
        {
            articleId:
            {
                required: true,
                type: Number
            },
            editable:
            {
                required: false,
                type: Boolean,
                default: false
            }
        },

        data()
        {
            return {
                modal: new JmpModal(),
                form: new JmpForm(),
                editing: false,
                loading: true,
                articleTags: []
            };
        },

        computed:
        {
            tagSelected()
            {
                let tagField = this.form.getField('tag');

                if(tagField !== null)
                {
                    if(tagField.value !== '')
                    {
                        return true;
                    }
                }
                return false;
            }
        },

        methods:
        {
            loadTags(id)
            {
                this.loading = true;
                axios.post('articles/tags',{
                    id: id
                })
                .then(response => {
                    this.articleTags = response.data;

                    // Remove already attached tags from options.
                    let options = [];
                    for(let n = 0; n <= this.articleTags.length-1; n++)
                    {
                        options.push(this.articleTags[n].name);
                    }
                    this.form.getField('tag').removeSelectOptions(options);

                    this.loading = false;
                })
                .catch(error => {
                    this.loadingTags = false;
                });
            },
            edit()
            {
                this.modal.open();
            },
            attachTag()
            {
                this.form.post('articles/tags/attach',{article:this.articleId})
                .then(response => {
                    this.modal.close();
                    // Reload.
                    this.loadTags(this.articleId);
                });
            }
        },

        mounted()
        {
            // Get tags for this article.
            this.loadTags(this.articleId);

            // Get all tags in the app.
            axios.get('tags/all')
            .then(response => {

                let tags = [];
                for(let tag in response.data)
                {
                    tags.push(response.data[tag].name);
                }
                this.form.addField('select','tag',{selectOptions:tags})
            })
            .catch(error => {

            });
        }
    }
</script>