<template>
    <div>
        <div class="card article-step">

            <div v-if="updating" class="loader"></div>

            <template v-else>
                <div v-if="hasPicture" class="card-image">
                    <figure class="image is-square">
                        <img :src="model.picture" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Step {{model.number}}</p>

                            <template v-if="editable">
                                <span @click="modal.open()" class="icon">
                                    <i class="fa fa-pencil-square-o"></i>
                                </span>
                                <span @click="deleted()" class="icon">
                                    <i class="fa fa-trash-o"></i>
                                </span>
                            </template>

                            <p class="subtitle is-6">{{model.type}}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{model.content}}
                        <br>
                        <small>last updated: {{lastUpdated}}</small>
                    </div>
                </div>
            </template>
        </div>
        <!-- Edit modal -->
        <modal :control="modal">
            <template slot="modal-head">Edit step</template>
            <template slot="modal-body">
                <j-form :control="form"></j-form>
            </template>
            <template slot="modal-foot">
                <a @click="save()" :class="['button', 'is-dark',{'is-loading':form.submitting}]" >Save changes</a>
                    <a @click="modal.close()" class="button" :disabled="form.submitting">Cancel</a>
            </template>
        </modal>
    </div>
</template>

<style scoped>
    .article-step
    {
        margin-bottom: 20px;
        margin-top: 20px;
    }
</style>

<script>
    import Control from './ArticleStepControl';
    import Modal from '../generic/Modal.vue';
    import JForm from '../generic/JForm.vue';
    import JmpForm from '../../elements/JmpForm';
    import JmpModal from '../../elements/JmpModal';

    export default
    {
        name: 'article-step',

        components:
        {
            JForm,
            Modal
        },

        props:
        {
            model:
            {
                required: true,
                type: Object
            },
            editable:
            {
                required: false,
                type: Boolean,
                default: false
            }
        },

        data()
        {
            return {
                updating: false,
                modal: new JmpModal,
                form: new JmpForm()
            };
        },

        methods:
        {
            save()
            {
                this.updating = true;
                this.form.patch('article-steps/update',{
                    id: this.model.id
                })
                .then(response => {
                    this.model = response.data;
                    this.updating = false;
                    this.modal.close();
                })
                .catch(error => {
                    this.updating = false;
                });
            },
            deleted()
            {
                this.updating = true;
                axios.delete('article-steps/delete',{
                    params:
                    {
                        id: this.model.id
                    }
                })
                .then(response => {
                    this.$emit('deleted',this.model);
                    this.updating = false;
                })
                .catch(error => {
                    this.updating = false;
                });
            }
        },

        computed :
        {
            lastUpdated()
            {
                return moment(this.model.updated_at, "YYYY-MM-DD").fromNow();
            },
            hasPicture()
            {
                if(this.model.picture !== undefined && this.model.picture !== null)
                {
                    return true;
                }
                return false;
            }
        },

        mounted()
        {
            this.form.addField('file','picture',{value:this.model.picture});
            this.form.addField('textarea','content',{value:this.model.content});
        }
    }
</script>